---
import Layout from "../layouts/Layout.astro";
import ScrollDownText from "../components/ScrollDownText";
import SocialButton from "../components/SocialButton";
import ParallaxBackground from "../components/ParallaxBackground";
import ScrollingSkills from "../components/ScrollingSkills.astro";
---

<Layout title="Will Keeble - Developer">
  <ParallaxBackground client:load />
  <main>
    <ScrollingSkills />
    <div class="text-center pt-24 p-6 md:px-16 lg:px-32 h-[24rem]">
      <p class="text-8xl sm:text-9xl font-extrabold mb-3">
        <span class="poppins tracking-wider shadowed-text">WILL KEEBLE</span>
      </p>
      <p class="mt-8 text-3xl text-gradient select-none">
        DEVELOPER. COMPUTER SCIENCE STUDENT.
      </p>
      <div class="mt-12 w-full flex justify-center gap-8">
        <SocialButton
          url="https://www.linkedin.com/in/will-keeble/"
          logo=""
          text="linkedin"
          client:load
        />
        <SocialButton
          url="https://www.github.com/wkeebs/"
          logo=""
          text="github"
          client:load
        />
      </div>
    </div>
    <div class="w-full flex flex-row justify-end">
      <ScrollDownText color="white" client:load />
    </div>
    <div class="h-[36rem] bg-white mt-32 rounded-3xl m-4"></div>
  </main>Ï
</Layout>

<style>
  main {
    /* padding: 3rem; */
    width: 100%;
    color: white;
    font-size: 1.5em;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
    background-position: 0%;
  }

</style>
../components/ScrollDownText
