---
import Layout from "../layouts/Layout.astro";
import ScrollDownText from "../components/ScrollDownText";
import SocialButton from "../components/SocialButton.astro";
import ParallaxBackground from "../components/ParallaxBackground";
import ScrollingSkills from "../components/ScrollingSkills.astro";
import AboutSection from "../components/AboutSection";
import ContactSection from "../components/ContactSection.astro";
import Copyright from "../components/Copyright";
import ResumeBtn from "../components/ResumeBtn.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
---

<Layout title="Will Keeble's Portfolio">
  <main>
    <div class="text-center pt-24 p-4 md:px-16 lg:px-32 h-screen">
      <div class="h-full flex flex-col justify-center items-center">
        <div class="rotate-90 text-sm absolute right-4 bottom-24 fadein">
          <ScrollDownText color="white" client:load />
        </div>
        <p class="text-8xl sm:text-[8rem] mb-3">
          <span class="cal-sans shadowed-text uppercase">will keeble</span>
        </p>
        <div class="mt-12 w-full flex justify-center gap-8">
          <SocialButton
            url="https://www.linkedin.com/in/will-keeble/"
            logo="linkedin"
            text="linkedin"
          />
          <SocialButton
            url="https://www.github.com/wkeebs/"
            logo="github"
            text="github"
          />
        </div>
      </div>
      
      <div class="w-full flex flex-row justify-end">
      </div>
    </div>
    <div class="">
      <div class="mx-4 md:mx-16 lg:mx-32" id="about">
        <AboutSection client:load />
      </div>
      <div class="mx-4 md:mx-16 lg:mx-32" id="projects">
        <ProjectsSection />
      </div>
      <footer id="contact" class="w-full">
        <div class="pt-12 mx-4 md:mx-16 lg:mx-32">
          <ContactSection />
          <p class="w-full text-[10px] text-end absolute right-8">
            Crafted with Astro
          </p>
        </div>
        <div
          class="py-8 w-screen mt-8 border-t-2 border-white flex justify-center gap-6 text-sm"
        >
          <Copyright />
        </div>
      </footer>
    </div>
  </main>
</Layout>

<style>
  main {
    /* padding: 3rem; */
    width: 100%;
    color: white;
    font-size: 1.5em;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
    background-position: 0%;
  }
</style>
