<a
  href="src/assets/WilliamKeebleCV.pdf"
  target="_blank"
  class="flex cursor-pointer gap-1 outline-white outline outline-2 outline-offset-2 rounded-sm px-2 hover:bg-white hover:text-accent-dark transition-all"
>
  resume&UpperRightArrow;
</a>
